@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
  }

  header {
    background-color: #333;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 20px 50px ;
  }

  .topnav a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1em;
    padding: 20px 16px;
    font-weight: 600;
    padding-left: 20px;
  }
  
  .topnav a:hover {
    background-color: rgb(175, 194, 182);
    color: black;
  }
  
  .topnav a.active {
    background-color: #3f81fc;
    color: white;
  }

  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 450px) {
    .topnav a {
      float: left;
      font-size: 0.7em;
      padding: 0px 10px;
    }
    
    header {
      padding: 10px 10px 10px 30px;
    }
  }
  

  section {
    padding: 100px 200px;
  }

  .main {
    padding: 150px 200px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    text-align: center;
    align-items: top,center;
    background: url(images/back33.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.avatar {
  color: #fff;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  border-radius: 50px;
  margin-bottom: 20px;
}

.avatar img{
 background-color: #3f81fc;
 border-radius: 50%;
}

.main h2 {
    color: #fff;
    text-shadow: 2px 2px #3f81fc;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bolder;
    display: inline-block;
    margin-bottom: 10px;
}

.main h1 {
    display: inline-block;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3f81fc;
    text-shadow: 2px 2px #f8f6f6;
    font-size: 3.5em;
    font-weight: bolder;
}

.main h3 {
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    text-shadow: 1.5px 1.5px #3f81fc;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1.1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;        /* delete the line under text*/
  font-size: 1.1em;         
  font-weight: 600;
  display: inline-block;        /* allow me use padding */
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;        /* increase the space between letters */
  border-radius: 15px;       /* curved edges */
  margin-bottom: 40px;
  transition: 0.7s ease;      /* its manner when mouse pointer move to it */
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.cards{
  min-height: 100vh;
}

.title {
  display: flex;       /* allow me align text */
  justify-content: center;    /*  align text */
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;              /* allow me align text */
  justify-content: center;    /*  align text */
  flex-direction: row;  /* the cards arrange in row */
  flex-wrap: wrap;   /* the extra card will be in another row */
  align-content: center;
}

@media (max-width:450px){
  body{
      font-size: 10px;
  }

  .main{
      padding: 20em 10em 20em 5em;
      font-size: 50%;
      min-height: 50vh;
  }


}


#bio{
background: url(images/back-white.png) no-repeat;
background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bio{
  background-color: rgb(232, 238, 245);
  border: 1px solid #fff;
  box-shadow: 0 5px 10px rgba(1 1 1 / 15%);    /* shadow style */ 
  width: 80em;
  border-radius: 10px;      /* curved edges */
  padding: 25px;            /* space inside cards */
  margin: 15px;             /* space between cards */
  transition: 0.7s ease;    /* its manner when mouse pointer move to it */ 
}

.bio-title {
  display: flex;       /* allow me align text */
  justify-content: center;    /*  align text */
  letter-spacing: 1px;
  color: #3a6cf4;
  text-shadow: 2px 2px #878694;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.bio .info {
 text-align: left;
  margin: 5px;
}

.bio .info p {
  font-size: 1em;
  font-weight: 400;
  word-spacing: 1.7px;
  line-height: 1.5em;
  text-align: justify;
  padding-bottom: 0.8em;
}

.bio .info h3 span{
  color: #3a6cf4;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  padding-left: 5px;
}

.bio .info h3 {
  color: #3a6cf4;
  text-align: left;
  font-size: 1.1em;
  font-weight: 600;
  margin: 5px;
}

.content .bio-card{
  width: 8em;
  align-content: center;
  text-align: center;
  border-radius: 10px;      /* curved edges */
  padding: 15px;            /* space inside cards */
  margin: 15px;             /* space between cards */
  transition: 0.7s ease;    /* its manner when mouse pointer move to it */
  background-color: rgb(232, 238, 245);
  border: 1px solid #fff;
  box-shadow: 0 5px 10px rgba(1 1 1 / 15%);    /* shadow style */ 
}

.content .bio-card .icon {
  align-items: center;
}


.content .bio-card img {
  width: 90%;
}

.content .info-code h3{
  color: #3a6cf4;
  font-size: 0.9em;
  font-weight: 700; 
  padding-top: 10px;
}

@media (max-width:450px){

  #bio {
     padding-top: 30px;
  }

  .bio-title {
    margin-bottom: 10px;
    padding-left: 70px;
  }

  .content .bio-card {
   align-content: center;
  }
  
   header {
    width: 100%;
   }

   .content  {
     padding-right: 3em;
   }

  .content .info-code h3{
    color: #3a6cf4;
    font-size: 0.9em;
    font-weight: 700; 
    text-align: center;
    padding: 10px 0px 0px 0px;
   
  }

  .content .info-code{
    display: inline-flex;
    align-content: center;
  }

  .cards {
      padding: 10em 10em 10em 3em;
      min-height: 50vh;
      width: auto  ;
      align-items: center;
  }

  .cards .content{
    width:130%;
   
  }

}



.card {
  background-color: rgb(200, 223, 236);
  border: 1px solid #fff;
  box-shadow: 0 5px 10px rgba(1 1 1 / 15%);    /* shadow style */
  width: 21.25em;
  border-radius: 10px;      /* curved edges */
  padding: 25px;            /* space inside cards */
  margin: 15px;             /* space between cards */
  transition: 0.7s ease;    /* its manner when mouse pointer move to it */
}

.card .content{
  background-color: rgb(250, 252, 252);
  border: 1px solid #fff;
  box-shadow: 0 5px 10px rgba(1 1 1 / 15%);    /* shadow style */
}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3{
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

#services {
  padding: 100px 200px;
  background: url(images/back33.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#services .title{
    letter-spacing: 1px;
    color: #3f81fc;
    text-shadow: 2px 2px #f8f6f6;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

#services .card {
  background-color: rgb(203, 225, 250);
  border: 1px solid #fff;
  min-height: 25em;
  width: 18.5em;
  padding: 15px;
  box-shadow: 0 5px 25px rgba(58, 108, 244, 0.5);    /* shadow style */ 
  border-radius: 10px;      /* curved edges */
  overflow: hidden;
  margin: 20px;          /* space between cards */
  transition: 0.7s ease;    /* its manner when mouse pointer move to it */
}

#services .card:hover {
  transform: scale(1.1);
}


#services .content .card {
  background-color: rgb(231, 239, 248);
  border: 1px solid rgb(5, 5, 5);
  box-shadow: 3px 5px 7px rgba(252, 252, 252, 0.61);    /* shadow style */
}

#services .card .icon {
  color: #3a6cf4;
  font-size: 1em;
  text-align: center;
}

#services .card img {
  color: #3a6cf4;
  margin-top: 20px;
  width: 30%;
  text-align: center;
}

@media (max-width:450px){
  #services {
    padding: 100px 170px;
 }

  #services .card{
    min-width: 20em;
 }

 #services .title {
   margin-bottom: 10px;
 }

}

#projects {
  padding: 100px 200px;
  background: url(images/back-white.png) no-repeat;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

#projects .title {
  display: flex;       /* allow me align text */
  justify-content: center;    /*  align text */
  letter-spacing: 1px;
  color: #3a6cf4;
  text-shadow: 2px 2px #878694;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

#projects .card {
  background-color: rgb(232, 238, 245);
  border: 1px solid #fff;
  box-shadow: 0 5px 10px rgba(1 1 1 / 15%);    /* shadow style */ 
  min-height: 13em;
  width: 19em;
  padding: 0px;
  border-radius: 10px;      /* curved edges */
  overflow: hidden;
  margin: 20px;          /* space between cards */
  transition: 0.7s ease;    /* its manner when mouse pointer move to it */
}

#projects .card:hover {
  transform: scale(1.1);
}

#projects .card:hover .service-image{
  opacity: 0.9;
}

#projects .service-image img {
  width: 100%
}

#projects .info{
align-items: end;
}

#projects .info p{
  font-size: 1em;
  font-weight: 400;
  word-spacing: 0.7px;
  line-height: 1.5em;
  text-align: justify;
  padding-top: 0em;
  padding-left: 1.5em;
  padding-bottom: 1.5em;
  padding-right:1.5em ;
}

.more-details {
  text-decoration: none;
  color: #fff;
  background-color: #3a6cf4;
  text-align: center  ;
  font-size: 0.9em;         
  font-weight: 600;
  display: inline-block;        /* allow me use padding */
  padding: 0.7em 1.6em;
  letter-spacing: 1px;        /* increase the space between letters */
  border-radius: 10px;       /* curved edges */
  margin-bottom: 30px;
  transition: 0.7s ease;      /* its manner when mouse pointer move to it */
}


.more-details:hover {
  color: #cac9cc;
}

@media (max-width:450px){

  #projects {
    padding: 100px 170px;
 }

  #projects .card{
    min-width: 20em;
 }

}

#certificates {
  padding: 100px 200px;
  background: url(images/back33.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#certificates .title{
    letter-spacing: 1px;
    color: #3f81fc;
    text-shadow: 2px 2px #f8f6f6;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

#certificates .card-cer {
  background-color: #fff;
  border: 1px solid #fff;
  width: 30em;
  padding: 0px;
  box-shadow: 0 5px 25px rgba(58, 108, 244, 0.5);    /* shadow style */ 
  border-radius: 10px;      /* curved edges */
  overflow: hidden;
  margin: 20px;          /* space between cards */
  transition: 0.7s ease;    /* its manner when mouse pointer move to it */
}

#certificates .card-cer:hover {
  transform: scale(1.2);
}

#certificates .card-cer img {
  color: #3a6cf4;
  margin: 1px;
  width: 100%;
  align-items: center;
}



@media (max-width:450px){

  #certificates {
    padding: 100px 170px;
 }

  #certificates .card-cer{
    min-width: 20em;
 }

}

.contacts {
  min-height: 82vh;
  padding: 50px 200px;
  background: url(images/back-white.png) no-repeat;
background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.contact-card {
  display: flex;              /* allow me align text */
  justify-content: center;    /*  align text */
  flex-direction: row;  /* the cards arrange in row */
  flex-wrap: wrap;   /* the extra card will be in another row */
  align-content: center;
  background-color: rgb(232, 238, 245);
  border: 1px solid #fff;
  box-shadow: 0 5px 10px rgba(1 1 1 / 15%);    /* shadow style */ 
  width: 30em;
  border-radius: 10px;      /* curved edges */
  padding: 25px;            /* space inside cards */
  margin: 15px;             /* space between cards */
  transition: 0.7s ease;    /* its manner when mouse pointer move to it */
  
}

.contact-card2 {
  width: 62em;
  background-color: rgb(232, 238, 245);
  border: 1px solid #fff;
  box-shadow: 0 5px 10px rgba(1 1 1 / 15%);    /* shadow style */ 
  border-radius: 10px;      /* curved edges */
  padding: 25px;            /* space inside cards */
  margin: 15px;             /* space between cards */
  transition: 0.7s ease;    /* its manner when mouse pointer move to it */
}

.contact-card .info {
  text-align: right;
  padding-left: 0.5em;
}


.contacts .title {
  display: flex;       /* allow me align text */
  justify-content: center;    /*  align text */
  letter-spacing: 1px;
  color: #3a6cf4;
  text-shadow: 2px 2px #878694;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.contact-card .icon {
  color: #3a6cf4;
  font-size: 4em;
  text-align: right;
  padding-right: 1.2em;
}

.contact-card2 .icon {
  color: #3a6cf4;
  font-size: 2em;
  text-align: center;
}

.contact-card .info {
  text-align: center;
}

.contact-card .info h3{
  color: #3a6cf4;
  font-size: 1.5em;
  font-weight: 700;
  margin: 10px;
}

.contact-card .info p{
  color: #070707;
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
}


.contact-card2 .icon span{
  color: #3a6cf4;
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
}

.contact-card2 .icon spanp{
  color: #070707;
  font-size: 0.5em;
  font-weight: 500;
  margin: 10px;
  }

.contact-card2 .icon {
padding-left: 25px;
}


@media (max-width:450px){

  #contacts {
    padding: 100px 190px;
 }

#contacts .content{
align-items: center;

}
#contacts .icon {
  text-align: center;
  padding: 0px;
  
  }
}
.footer {
  background-color: #000016;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1em;
  font-weight: 400;
  text-shadow: 0.3px 0.4px #f8f6f6;
}

.footer-title span {
  color: #3a6cf4;
}

.footer .social-icons a{
  color: #f8f6f6;
  font-size: 1.3em;
  padding: 0 12px 0 0;
  text-shadow: 2px 3px #3a6cf4;
}


